body{
    background-color: #efefef;
}

.main{
    background-color: #ffffff;
    margin: 30px;
}

.btn-publish{
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 45px;
    height: 45px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}

.profile .section {
    margin-top: 15px;
}

.community-menu {
    color: #999999;
    font-size: 13px;
}

.comment{
    margin: 10px 0;
}

.comment-btn{
    margin-bottom:10px;
    float:right;
}